.header__link {
  text-decoration: none;
}

.header__link:link {
  color: #2f80ed;
}

.header__link:visited {
  color: #808080;
}

.header__link:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.header__link:active {
  color: aqua;
}
