* {
  margin-top: 0;
  margin-bottom: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  justify-self: start;
}

.header__title {
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  flex-direction: row;
  align-self: center;
  margin-left: 64px;
  width: 730px;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  margin: auto;
  z-index: 3;
}

.style_subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-image: url(../images/header-image.png);
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.logo {
  width: 183px;
  background-repeat: no-repeat;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  height: 32px;
  top: 30px;
  left: 74px;
  position: absolute;
  z-index: 5;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.style_paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent_bolder {
  font-weight: bolder;
}

.digits {
  margin-top: 100px;
  margin-bottom: 40px;
}

.section-title{
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
  width: 60%;
  margin: auto;
  text-align: center;
}

.section-subtitle{
  width: 60%;
  text-align: center;
  margin: 20px auto 60px;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.table__cell {
  flex-direction: row;
  justify-content: space-evenly;
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
  margin: 0;
}

.text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  color: #2f80ed;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  background-size: cover;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 10px;
}

.section-title_theme_dark{
  color: white;
}

.section-subtitle_theme_dark{
  color: white;
  margin-bottom: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-bottom: 80px;
  z-index: 2;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  color: white;
  margin: 18px 0;
  bottom: 0;
  left: 0;

}

.footer__column-heading {
  color: white;
  font-size: 18px;
  line-height: 30px;
}

.footer__column-heading_title_bolder {
  font-weight: bolder;
  margin: 0 0 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__colimn-link {
  font-weight: normal;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  height: 35px;
}

